*{{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-color: white;
}}



.layout{
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: 60px 1fr 40px;
    gap: 30px;
   
}

.layout > div{
    display: flex
    justify-content: center;
    align-items: center;
}

.header, .footer{
    grid-column: 1 / -1;
    background-color: red;
    text-align: center;

}

.slide1{
    background-color: yellow;
    text-align: center;
  
}

.slide2{
    background-color: green;
    text-align: center;
}

.slide3{
    background-color: blue;
    text-align: center;
}

.footer{
    background-color: brown;
    text-align: center;
} 