
/* css selectors
1.simply selectors
2.pseudo-class selectors
3.pseudo element slectors
4.atttribute selectors
5.combinator selectors
6.grouping selectors
7.

 */ 



nav{
    
    background-color: rgba(127, 20,0);
    font-family: Arial, sas-serif;
    

    
}
    body{
        background-image: url(../dailywork/images.jpg);
        background-repeat: no-repeat;

    }



    



